{%extends 'layout.html' %}

{% block content %}

<section class="member">

	<div class="container">

		<div class="row">

			<div class="col-8">
				<div class="mp-head">
					<div class="row">
						<div role="text" class="col-8">
							<h3 class="T-title">Wanna learn how to eat intuitively?</h3>
							<small class="heading text-muted">
							<span class="name">Lara Winter</span>,<span class="job-description"> Health & Fitness Coach</span>
							</small>
						</div>
						<div role="img" class="col-2">
							<div class="mp-img-small">
								<img src="./img/members/default_avatar.png" alt="profile image">
							</div>
						</div>
					</div>
				</div>
				<div class="mp-body">
					<div class="mp-body-top T-summary">
						This is the summary. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.
					</div>
					<div class="mp-body-middle T-story">
						<h6>Who is teaching?</h6>
						<p>This is the story why the person became a tutor in x field. Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.
						</p>
					</div>

					<div class="mp-body-bottom T-info">
						Here comes additional information xxx Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.
					</div>

				</div>

			</div>

			<div class="mp-contact-box col-4">
				<p class="heading"> Get in touch <hr/>
				<p class="label">Email@larawinter.com</p>
				<p class="label">Berlin</p>
			</div>


		</div>

		</div>

	</div>

</section>
{% endblock %}