{%extends 'layout.html' %}

{% block content %}

      <section class="alert-boxes container">

      <!-- Something went wrong -->
      <!--
		<div class="alert alert-danger alert-dismissible fade show col-6">
		<strong>Oh no!</strong> nothing was found! <a href="./index.html">Try again!</a>
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>  -->


  </section>


	<div class="container">
		<div id="members-list" class="members-list">

			<h3>Your personal coach is just one click away.</h3>

			<div class="row"> 

				<div class="col-sm listing">
					<a href="./member.html" target="_blank">
						<div role="img">
							<img src="./img/members/default_avatar.png">
						</div>
						<div role="text">
							<small class="name text-muted">Lara Winter</span>,<span class="job-description"> Health & Fitness Coach</small>
							<h4 class="T-title">" I can teach you how to tell a great story "</h4>
						</div>
					</a>
				</div>

				<div class="col-sm listing">
					<a href="./member.html" target="_blank">
						<div role="img">
							<img src="./img/members/default_avatar.png">
						</div>
						<div role="text">
							<small class="name text-muted">Lara Winter</span>,<span class="job-description"> Health & Fitness Coach</small>
							<h4 class="T-title">" I can teach you how to tell a great story "</h4>
						</div>
					</a>
				</div>

				<div class="col-sm listing">
					<a href="./member.html" target="_blank">
						<div role="img">
							<img src="./img/members/default_avatar.png">
						</div>
						<div role="text">
							<small class="name text-muted">Lara Winter</span>,<span class="job-description"> Health & Fitness Coach</small>
							<h4 class="T-title">" I can teach you how to tell a great story "</h4>
						</div>
					</a>
				</div>

			</div>


		</div>


	</div>


{{% endblock %}}