{%extends 'layout.html' %}

{% block content %}
<style>
    #changePassword {
    display: none;
}
</style>

<section class="alert-boxes container">

    <!-- if the user clicked on "publish" -->
    {% with messages = get_flashed_messages() %}
    {%if messages %}
    <div class="alert alert-success alert-dismissible fade show col-8" id="successAlert" role="alert">
    {% for message in messages %}
        <strong>Success!</strong>{{message}}
    {% endfor %}    
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% endwith %}

    <!-- Something went wrong -->

<!--     <div  id="errorAlert" class="alert alert-danger alert-dismissible fade show col-8" role="alert" style="display:none;" >
    <strong>Ooops!</strong> Something went wrong. Try again!
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div> -->

        


</section>


<div class="container">

    <div class="at-form">
    	<div class="log-head">
    		<h4>My Profile</h4>
    	</div>
        {% if data.profile_picture %}
        <img src="{{url_for('static',filename='./img')}}/{{data.profile_picture}}" class="rounded-circle" alt="Profile Picture" width="240" height="230">
        {% else %}

        <img src="{{url_for('static',filename='./img')}}/default_avatar.png" class="rounded-circle" alt="Profile Picture" width="240" height="230">
        {% endif %}
        <br><br>
        <div id="profile-picture-body" class="profile-picture-body">
            <form action="updatePersonalInfo" method="POST" enctype = "multipart/form-data">
                <input type="hidden" name="user_id" value="{{data.id}}">
                <input id="imageUpload" class="form-control-file" type="file" name="profile_photo" placeholder="Photo">
                <button type="submit" name="img_upload" class="btn btn-pri">Upload</button>
            </form>
            <div style="margin-top:24px"></div>
        </div>

   		<div class="row">
			<div class="col-8">
		    	<div class="log-body">
                    <form>
                        
                    </form>
		        </div>
                    <!-- update personal information -->
		        <div class="log-head">
		            <h6>Update personal information</h6><hr/>    
		        </div>

		        <div class="log-body">
			        <form action="update-personal-info" method="POST">
                        <input type="hidden" name="user_id" value="{{data.id}}">
                        <div class="form-group">
                           <label class="form-control-label">What's your profession? What do you do?</label>
                            <input type="text" name="description" class="form-control T-job-description" value="{{data.description}}">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="your@email.com" value="{{data.email}}">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">First Name</label>
                            <input type="text" name="first_name" class="form-control" placeholder="First Name" value="{{data.first_name}}">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Last Name</label>
                            <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="{{data.last_name}}">
                        </div>	
                        <button type="submit" name="person_info" class="btn btn-pri">Save</button>
					</form>

                    
		    	</div> <!-- end update personal information -->
                <div class="log-head">
                    <h6 class="btn btn-primary" id="passworField">Change Password</h6><hr/>    
                </div>

                <div class="log-body" id="changePassword">
                    <form action="/updatePersonalInfo" method="POST">

                        <div class="form-group">
                            <label class="form-control-label">Old Password</label>
                             <input type="hidden" id="userId" name="user_id" class="form-control" placeholder="" value="{{data.id}}">
                            <input type="hidden" id="pass1" class="form-control" placeholder="Old Password" value="{{data.password}}" required>
                            <input type="password" id="pass2" class="form-control" placeholder="Old Password" required>
                            
                            <p id="validate-status"></p>
                        </div>

                        <div class="form-group">

                            <label class="form-control-label">New Password</label>
                            <input type="password" name="new_password" id="new_password" class="form-control" placeholder="New Password">
                        </div>
                        <button name="password_update" type="submit" class="btn btn-pri" id="">update</button>
                            
                    </form>

                    
                </div>


		    </div>
		 </div>


    </div>

        

{% endblock %}